<div class="demon">
	{{this.demon}}
</div>
{{#each posts}}
<div class = "article">
	<h3>{{this.title}}</h3>
<div class = "date">
	{{this.dateFormated}}
</div>
<div class = "description">
	{{this.description}}
</div>
<div>
	<a href="{{this.link}}">full article</a>
</div>
</div>
{{/each}}
